<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Definindo o ContextSelector para StaticLoggerBinder -->
    <property name="logback.ContextSelector" value="org.slf4j.impl.StaticLoggerBinder" />

    <!-- Configuração de Appender para saída no console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração de Logger -->
    <logger name="org.springframework" level="INFO" />

    <!-- Configuração de Logger para uma classe específica (exemplo) -->
    <logger name="com.seuprojeto.ClasseExemplo" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Configuração do Logger raiz -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>